.About-Page {
    padding-top: 100px ;
}



.about-us {
    padding-right: 12in;
    font-size: x-large;
}

.bio-pic {
    border-radius: 20%;
    max-width: auto;
    height: auto;
    width: 15%;
    float: left;



}

.bio-name {
    text-align: left;
    width: 40%;
    padding-top: 2.5in;
     
}




h1 {
    color: rgb(67, 170, 196);
    font-family: 'Times New Roman', Times, serif;
}

.link {
    text-align: left;
    
}

.Biome-z-vid {
    float: right;
}

iframe {
    border-radius: 10%;
}

