
.link {
    list-style: none;
    color: rgb(67, 170, 196);
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
}

p {
    font-family: 'Times New Roman', Times, serif;
    font-size: medium;
}

.Title {
    font-family: 'Times New Roman', Times, serif;
    color: rgb(67, 170, 196);
}
.text {
    padding-bottom: 250pt;
}
.Web-attributes {
    padding-right: 11in;
    padding-top: 10pt;
    font-size: larger;
    font-weight: 600;
    color: rgb(67, 170, 196);
}



.Up-F {
    color: rgb(67, 170, 196);
    font-size:large;
}

