.abc {
    padding-top: 50px ;
    padding-right: 13in;
    justify-content: center;
    align-items: auto;
  }
    
table {
    border: 2px solid forestgreen;
    width: auto;
    height: auto;
}
    
th {
    border-bottom: 1px solid black;
}
    
td {
    text-align: center;
}

.container2 {
    width: 100%;
    height: 30vh;
    justify-content: auto;
    align-items: auto;
  }