body {
    background: linear-gradient(to right, #90ee90, #87cefa);
}

.container {
    margin: 10px;
    text-align: center;
    width: 100%;
    padding-bottom: 4.5rem;
}

.divScroll {
    width: 100%;
    position: relative;
    min-height: 100vh;
    overflow-x: hidden;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: #555;
    }

